<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.quiz.lesson03.dao.RealEstateMapper">
	<select id="selectRealEstateById" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}

	</select>
	
	<select id="selectRealEstateListByRentPrice" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			<![CDATA[
			`rentPrice` < #{rentPrice}
			]]>
	</select>
	
	<select id="selectRealEstateListByAreaAndPrice" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			<![CDATA[
			`type` = '매매'
			AND `area` >= #{area}
			AND `price` <= #{price}
			]]>
		ORDER BY `id` DESC
	</select>
	
	<insert id="insertRealEstate" parameterType="com.quiz.lesson03.domain.RealEstate">
		INSERT INTO `real_estate`
		(
			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
			, NOW()
			, NOW()
		)
	</insert>
	<insert id="insertRealEstateAsField" parameterType="map">
		INSERT INTO `real_estate`
		(
			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
			, NOW()
			, NOW()
		)
	</insert>
	
	<delete id="deleteRealEstateById" parameterType="int">
		DELETE
		FROM
			`real_estate`
		WHERE
			`id`= #{id}
	</delete>
</mapper>
